<h3>Modify Video Games!</h3>


<div class = "forms">
  <label for="id">ID</label>
  <input type="number" id="id" formControlName="id" />



  <label for="title">Title</label>
  <input type="text" id="title" formControlName="title" />



  <label for="price">price</label>
  <input type="number" id="price" formControlName="price" />


  <label for="genre">genre</label>
  <input type="text" id="genre" formControlName="genre" />


  <label for="yearOfRelease">yearOfRelease</label>
  <input type="number" id="yearOfRelease" formControlName="yearOfRelease" />
</div>
