<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to {{title}} Webpage</h1>

  <p>This is a normal number it can also be referred to as a int {{num}}</p>


  <p>this is a decimal number or a float! {{float}} </p>

  <p>Thank you for visiting my page </p>

</body>
</html>

